<main class="text-center pt-4">
  <h1>Welcome to Posyx!</h1>
  <p>Discover sections now</p>

  <ul class="mx-4 flex flex-col gap-2">
    <li class="w-full" *ngFor="let item of menuItems">
      <a
        class="py-2 px-4 flex items-center justify-between border-4 rounded-2xl"
        [routerLink]="item.path"
      >
        <div class="flex flex-col items-start gap-1">
          <span class="text-xl font-semibold">{{ item.title }}</span>
          <span class="text-gray-500">{{ item.description }}</span>
        </div>
        <span class="material-symbols-rounded text-3xl"> {{ item.icon }} </span>
      </a>
    </li>
  </ul>
</main>
